# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*.log
*.iml

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Android
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/

# iOS/Xcode
DerivedData/
*.xcuserdata/
*.xcworkspace/xcuserdata/
Pods/

# Python/ML
__pycache__/
*.pyc
.venv/
venv/
.env
.ipynb_checkpoints/
ml/data/raw/*
ml/data/processed/*
!ml/data/raw/.gitkeep
!ml/data/processed/.gitkeep
ml/models/*
!ml/models/.gitkeep

# Secrets
*.keystore
*.jks
*.pem
*.key
serviceAccountKey.json
.env*
