.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
android/.gradle/
android/local.properties
android/app/google-services.json
ios/Pods/
ios/Runner/GoogleService-Info.plist
