rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /participants/{participantId} {
      allow read, create, update: if isOwner(participantId);
      allow delete: if false;

      match /{document=**} {
        allow read, create, update: if isOwner(participantId);
        allow delete: if false;
      }
    }

    function isOwner(participantId) {
      return request.auth != null && request.auth.uid == participantId;
    }
  }
}
